<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <title>위메프 공연티켓</title>
    <link rel="stylesheet" href="/src/pc/_index/idx_guide.css" />
  </head>
  <!-- theme 사용시 idx_layout 클래스 추가 -->
  <body class="idx_layout">
    <section class="idx">
      <h1>위메프</h1>
      <h2>메인</h2>
      <ul>
        <li>
          <a href="main.html" target="_blank">기본<span class="new">TC-3084 FE</span></a>
        </li>
        <li>
          <a href="main.html?type=1" target="_blank">기본<span class="desc">팝업있음</span></a>
        </li>
        <li>
          <a href="main.html?allmenu=open" target="_blank">기본<span class="desc">전체메뉴 오픈</span></a>
        </li>
      </ul>
    </section>
    <!-- theme 사용시 idx tmon 클래스 있는 경우 theme=tmon 자동 생성 -->
    <section class="idx tmon">
      <h1>티몬</h1>
      <h2>메인</h2>
      <ul>
        <li>
          <a href="main.html" target="_blank">기본<span class="new">TC-3084 FE</span></a>
        </li>
        <li>
          <a href="main.html?type=1" target="_blank">기본<span class="desc">팝업있음</span></a>
        </li>
        <li>
          <a href="main.html?allmenu=open" target="_blank">기본<span class="desc">전체메뉴 오픈</span><span class="new">TC-3084 FE</span></a>
        </li>
      </ul>
    </section>
    <!-- theme 사용시 index.js 추가 -->
    <script src="/src/pc/_index/index.js"></script>
  </body>
</html>
