<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <link rel="icon" href="https://image.wemakeprice.com/images/culture/m/common/favicon.ico" />
    <title>위메프 공연티켓</title>
    <link rel="stylesheet" href="/dist/m/css/front.css" />
  </head>
  <body>
    <div>
      <div id="container-wrapper">
        <div>
          <header id="header" class="main_header base_header">
            <div class="h_left">
              <a role="button" class="btn_history"> <span>뒤로</span></a>
            </div>
            <div class="h_right">
              <a href="/search" class="btn_search"> <span>검색</span></a>
            </div>
            <!-- TC-3084 [티몬] 로고 변경 및 문구 수정 -->
            <h2>W공연티켓</h2>
          </header>
          <div id="container">
            <div>
              <!-- 메인 배너 영역 -->
              <div class="main-banner">
                <h2 class="uvc">메인 배너 영역</h2>
                <div class="swiper-container gallery-top">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="img">
                        <a href="#none"><img alt="이미지" src="https://image.wemakeprice.com/images/culture/m/temp/temp-main-banner.jpg" class="flex-target" /></a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="img">
                        <a href="#none"><img alt="이미지" src="https://dummyimage.com/750x770/f78ca4/ffffff" class="flex-target" /></a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="img">
                        <a href="#none"><img alt="이미지" src="https://dummyimage.com/750x770/8ca0f7/ffffff" class="flex-target" /></a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="img">
                        <a href="#none"><img alt="이미지" src="https://dummyimage.com/750x770/d4f78c/ffffff" class="flex-target" /></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-container gallery-thumbs">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="img">
                        <a href="#none"><img alt="이미지" src="https://image.wemakeprice.com/images/culture/m/temp/temp-main-thumb.jpg" class="flex-target" /></a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="img">
                        <a href="#none"><img alt="이미지" src="https://dummyimage.com/200x284/f78ca4/ffffff" class="flex-target" /></a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="img">
                        <a href="#none"><img alt="이미지" src="https://dummyimage.com/200x284/8ca0f7/ffffff" class="flex-target" /></a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="img">
                        <a href="#none"><img alt="이미지" src="https://dummyimage.com/200x284/d4f78c/ffffff" class="flex-target" /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 메인 카테고리 -->
              <div class="main-category">
                <h2 class="uvc">카테고리</h2>
                <div class="quick-menu">
                  <ul class="lst-quick">
                    <li>
                      <a href="/category/10001" data-gtm-category="뮤지컬" data-gtm-action="1" data-gtm-label="/category/10001"> <i class="i-01"></i>뮤지컬 </a>
                    </li>
                    <li>
                      <a href="/category/10002" data-gtm-category="콘서트" data-gtm-action="2" data-gtm-label="/category/10002"> <i class="i-02"></i>콘서트 </a>
                    </li>
                    <li>
                      <a href="/category/10003" data-gtm-category="연극·대학로" data-gtm-action="3" data-gtm-label="/category/10003"> <i class="i-03"></i>연극·대학로 </a>
                    </li>
                    <li>
                      <a href="/category/10004" data-gtm-category="클래식·무용" data-gtm-action="4" data-gtm-label="/category/10004"> <i class="i-04"></i>클래식·무용 </a>
                    </li>
                    <li>
                      <a href="/category/10006" data-gtm-category="키즈·가족" data-gtm-action="5" data-gtm-label="/category/10006"> <i class="i-05"></i>키즈·가족 </a>
                    </li>
                    <li>
                      <a href="/category/10005" data-gtm-category="전시·체험" data-gtm-action="6" data-gtm-label="/category/10005"> <i class="i-06"></i>전시·체험 </a>
                    </li>
                    <li>
                      <a href="/region" data-gtm-category="지역별공연" data-gtm-action="7" data-gtm-label="/region"> <i class="i-07"></i>지역별공연 </a>
                    </li>
                    <li>
                      <a href="/event" data-gtm-category="이벤트" data-gtm-action="8" data-gtm-label="/event"> <i class="i-08"></i>이벤트 </a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- 라인배너 영역 -->
              <div class="line-banner">
                <h2 class="uvc">라인배너 영역</h2>
                <div class="swiper-container swiper-container-horizontal" id="line-banner-swiper0">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="img">
                        <a href="/product/3000010894"
                          ><img src="https://image.wemakeprice.com/images/culture/m/temp/temp-main-line-banner.jpg" alt="라인배너이미지" class="flex-target" />
                          <span class="blind"> 배너설명 </span>
                        </a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="img">
                        <a href="/event/563">
                          <img src="https://dummyimage.com/690x220/f78ca4/ffffff" alt="라인배너이미지" class="flex-target" />
                          <span class="blind"> 배너설명 </span>
                        </a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="img">
                        <a href="/product/3000011042">
                          <img src="https://dummyimage.com/690x220/8ca0f7/ffffff" alt="라인배너이미지" class="flex-target" />
                          <span class="blind"> 배너설명 </span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-pagination swiper-pagination-bullets">
                    <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                    <span class="swiper-pagination-bullet"></span>
                    <span class="swiper-pagination-bullet"></span>
                  </div>
                </div>
              </div>
              <!-- 랭킹 -->
              <div class="main-sec">
                <h2 class="u-tit-sec">랭킹</h2>
                <a href="/ranking" data-gtm-category="공연티켓랭킹/더보기" data-gtm-label="/ranking" class="u-btn-more"> 더보기 </a>
                <h3 class="uvc">카테고리 선택</h3>
                <div class="u-menu">
                  <ul>
                    <li>
                      <a href="#none" class="on"> 뮤지컬 </a>
                    </li>
                    <li>
                      <a href="#none" class=""> 콘서트 </a>
                    </li>
                    <li>
                      <a href="#none" class=""> 연극·대학로 </a>
                    </li>
                    <li>
                      <a href="#none" class=""> 전시·체험 </a>
                    </li>
                    <li>
                      <a href="#none" class=""> 키즈·가족 </a>
                    </li>
                  </ul>
                </div>
                <ol class="lst-ranking">
                  <li>
                    <a href="/product/3000011130" data-gtm-category="공연티켓랭킹/undefined" data-gtm-action="1" data-gtm-label="3000011130">
                      <span class="no-rank"> 1 </span><span class="img"><img alt="썸네일 이미지" src="https://image.wemakeprice.com/images/culture/m/temp/temp-main-ranking.jpg" class="flex-target" /></span>
                      <div class="info">
                        <span class="u-flag">
                          <span class="u-label c2"> 특가 </span>
                        </span>
                        <strong class="tit"> 뮤지컬 〈은하철도의 밤〉 - 특가 </strong>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/product/3000010878" data-gtm-category="공연티켓랭킹/undefined" data-gtm-action="2" data-gtm-label="3000010878">
                      <span class="no-rank"> 2 </span><span class="img"><img alt="썸네일 이미지" src="https://dummyimage.com/300x400/f78ca4/ffffff" class="flex-target" /></span>
                      <div class="info">
                        <span class="u-flag">
                          <span class="u-label c2"> 특가 </span>
                        </span>
                        <strong class="tit"> 뮤지컬 더데빌：파우스트 - 특가 </strong>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/product/3000010990" data-gtm-category="공연티켓랭킹/undefined" data-gtm-action="3" data-gtm-label="3000010990">
                      <span class="no-rank"> 3 </span><span class="img"><img alt="썸네일 이미지" src="https://dummyimage.com/300x400/8ca0f7/ffffff" class="flex-target" /></span>
                      <div class="info">
                        <span class="u-flag">
                          <span class="u-label c2"> 특가 </span>
                        </span>
                        <strong class="tit"> 뮤지컬 〈아가사 AGATHA〉 10th Anniversary 특가 </strong>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/product/3000010824" data-gtm-category="공연티켓랭킹/undefined" data-gtm-action="4" data-gtm-label="3000010824">
                      <span class="no-rank"> 4 </span><span class="img"><img alt="썸네일 이미지" src="https://dummyimage.com/300x400/d4f78c/ffffff" class="flex-target" /></span>
                      <div class="info">
                        <span class="u-flag">
                          <span class="u-label c2"> 특가 </span>
                        </span>
                        <strong class="tit"> 뮤지컬 〈리진 : 빛의 여인〉 특가 </strong>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/product/3000010985" data-gtm-category="공연티켓랭킹/undefined" data-gtm-action="5" data-gtm-label="3000010985">
                      <span class="no-rank"> 5 </span><span class="img"><img alt="썸네일 이미지" src="https://dummyimage.com/300x400/f7918c/ffffff" class="flex-target" /></span>
                      <div class="info">
                        <span class="u-flag">
                          <span class="u-label c7"> 소셜단독 </span>
                        </span>
                        <strong class="tit"> 뮤지컬 〈은하철도의 밤〉 </strong>
                      </div>
                    </a>
                  </li>
                </ol>
              </div>
              <!-- 공연티켓 오픈공지 -->
              <div class="main-sec">
                <h2 class="u-tit-sec">공연티켓 오픈공지</h2>
                <a data-gtm-category="티켓오픈공지/더보기" data-gtm-label="/opennotice" href="/opennotice" class="u-btn-more"> 더보기 </a>
                <ul class="lst-open-ticket">
                  <li>
                    <a data-gtm-category="티켓오픈공지" data-gtm-action="1" data-gtm-label="/opennotice/1197" href="/opennotice/1197">
                      <span class="img"><img alt="썸네일 이미지" src="https://image.wemakeprice.com/images/culture/m/temp/temp-main-open-ticket.jpg" class="flex-target" /></span>
                      <div class="info">
                        <div class="u-fn-valign">
                          <span class="u-label c4"> 얼리버드 </span>
                          <strong class="tit"> 블루스프링페스티벌 2024 얼리버드 티켓오픈 안내 </strong>
                          <p>2024.01.22(월) 17:00</p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a data-gtm-category="티켓오픈공지" data-gtm-action="2" data-gtm-label="/opennotice/1196" href="/opennotice/1196">
                      <span class="img"><img alt="썸네일 이미지" src="https://dummyimage.com/300x400/f78ca4/ffffff" class="flex-target" /></span>
                      <div class="info">
                        <div class="u-fn-valign">
                          <span class="u-label c4"> 얼리버드 </span>
                          <strong class="tit"> 2024 DON'T LET DADDY KNOW 티켓오픈 안내 </strong>
                          <p>2024.01.18(목) 18:00</p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a data-gtm-category="티켓오픈공지" data-gtm-action="3" data-gtm-label="/opennotice/1195" href="/opennotice/1195">
                      <span class="img"><img alt="썸네일 이미지" src="https://dummyimage.com/300x400/8ca0f7/ffffff" class="flex-target" /></span>
                      <div class="info">
                        <div class="u-fn-valign">
                          <span class="u-label c7"> 위멮데이 </span>
                          <strong class="tit"> 연극 〈엘리펀트송〉 - 위멮데이 티켓오픈 안내 </strong>
                          <p>2024.01.08(월) 14:00</p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a data-gtm-category="티켓오픈공지" data-gtm-action="4" data-gtm-label="/opennotice/1194" href="/opennotice/1194">
                      <span class="img"><img alt="썸네일 이미지" src="https://dummyimage.com/300x400/f7918c/ffffff" class="flex-target" /></span>
                      <div class="info">
                        <div class="u-fn-valign">
                          <span class="u-label c7"> 소셜단독 </span>
                          <strong class="tit"> 2024 서울사케페스티벌(SEOUL SAKE FESTIVAL 2024) 티켓오픈 안내 </strong>
                          <p>2024.01.08(월) 00:00</p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a data-gtm-category="티켓오픈공지" data-gtm-action="5" data-gtm-label="/opennotice/1193" href="/opennotice/1193">
                      <span class="img">
                        <!-- <img alt="썸네일 이미지" src="https://dummyimage.com/300x400/f78ca4/ffffff" class="flex-target" /> -->
                      </span>
                      <div class="info">
                        <div class="u-fn-valign">
                          <span class="u-label c7"> 소셜단독 </span>
                          <strong class="tit"> 뮤지컬 〈컴프롬어웨이〉 티켓오픈 안내 </strong>
                          <p>2024.01.01(월) 00:00</p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- 프로모션/이벤트 -->
              <div class="main-sec">
                <h2 class="u-tit-sec">프로모션/이벤트</h2>
                <div class="line-banner rolling-banner">
                  <h2 class="uvc">라인배너 영역</h2>
                  <div class="swiper-container swiper-container-horizontal" id="line-banner-swiper1">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="img">
                          <a href="#none" data-gtm-category="메인 띠배너" data-gtm-action="1" data-gtm-label="https://mw.wemakeprice.com/special/category/5005787"
                            ><img src="https://image.wemakeprice.com/images/culture/m/temp/main-rolling-banner.jpg" alt="프로모션_금토일특가MO" class="flex-target" />
                            <span class="blind"> 배너설명 </span>
                          </a>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="img">
                          <a data-gtm-category="메인 띠배너" href="/event/345" data-gtm-action="2" data-gtm-label=""
                            ><img src="https://dummyimage.com/686x480/f78ca4/ffffff" alt="프로모션_공식행사" class="flex-target" />
                            <span class="blind"> 배너설명 </span>
                          </a>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="img">
                          <a href="#none" data-gtm-category="메인 띠배너" data-gtm-action="3" data-gtm-label="https://mw.wemakeprice.com/special/category/5005930"
                            ><img src="https://dummyimage.com/686x480/d4f78c/ffffff" alt="프로모션_2024어서와용MO" class="flex-target" />
                            <span class="blind"> 배너설명 </span>
                          </a>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="img">
                          <a data-gtm-category="메인 띠배너" href="/event/517" data-gtm-action="4" data-gtm-label=""
                            ><img src="https://dummyimage.com/686x480/8ca0f7/ffffff" alt="프로모션M_삼성카드단독할인" class="flex-target" />
                            <span class="blind"> 배너설명 </span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination-bullets">
                      <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                      <span class="swiper-pagination-bullet"></span>
                      <span class="swiper-pagination-bullet"></span>
                      <span class="swiper-pagination-bullet"></span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 공연티켓 추천 -->
              <div class="main-sec">
                <h2 class="u-tit-sec">공연티켓 추천</h2>
                <ul class="u-lst-ticket type-wide">
                </ul>
              </div>
              <!-- 메인 하단배너 -->
              <div class="main-sec">
                <ul class="lst-banner">
                  <li>
                    <a data-gtm-category="메인 하단배너" href="/product/3000003425" data-gtm-action="1" data-gtm-label="/product/3000003425"><img src="https://image.wemakeprice.com/images/culture/m/temp/main-line-bottom-banner.jpg" alt="하단_라면(3425)" /></a>
                  </li>
                  <li>
                    <a data-gtm-category="메인 하단배너" href="/product/3000010079" data-gtm-action="2" data-gtm-label="/product/3000010079"><img src="https://dummyimage.com/690x208/8ca0f7/ffffff" alt="하단_죽여주는이야기(10079)" /></a>
                  </li>
                </ul>
              </div>
              <div class="theme-sec">
                <div class="img-deco bg1"></div>
                <h2 class="main-copy">전 국민이 보는 그날까지! OPEN RUN 공연</h2>
                <h3 class="sub-copy">#힐링 #오픈런 #대학로 #공연맛집</h3>
                <ul class="u-lst-ticket type-poster"></ul>
              </div>
              <div class="theme-sec">
                <div class="img-deco bg2"></div>
                <h2 class="main-copy">상상이 현실이 되는, 감성자극전시</h2>
                <h3 class="sub-copy">#인기전시 #미디어아트 #감성자극 #사진맛집 #국민화가</h3>
                <ul class="u-lst-ticket type-poster"></ul>
              </div>
              <!-- 팝업: 메인 팝업 -->
              <div class="pop-cover">
                <div class="pop-cont">
                  <h1 class="flex-box">
                    <a href="/product/3000011130"><img data-v-316f2afc="" alt="이미지" src="https://image.wemakeprice.com/images/culture/m/temp/temp-main-pop.png" class="flex-target" /></a>
                  </h1>
                  <div class="btn-area">
                    <span class="chk-box"
                      ><input id="enoughToday" type="checkbox" />
                      <label for="enoughToday"> 오늘 하루 그만보기 </label>
                    </span>
                    <button type="button">닫기</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- footer div-->
          <div>
            <!-- footer -->
            <div id="footer"></div>
            <!-- 하단 바 -->
            <div id="bottom-floating"></div>
            <!-- 탑버튼 -->
            <div class="u-btn-floating"></div>
            <!-- 카테고리 -->
            <div class="category-popup">
              <div id="allMenu" class="wrap-layer-pop"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/src/m/resources/js/front/jquery/jquery-2.2.0.min.js"></script>
    <script src="/src/m/resources/js/front/jquery/jquery-ui.min.js"></script>
    <script src="/src/m/resources/js/front/jquery/plugins/swiper/swiper.js"></script>
    <script src="/src/m/resources/js/front/common.js"></script>
    <script src="/src/m/resources/js/front/guide.js"></script>
    <script>
      const popCover = document.querySelector('#container .pop-cover');
      const btnPopCover = document.querySelector('#container .pop-cover button');
      popCover.style.display = 'none';
      // type1: 팝업있음
      if (type == 1) {
        popCover.style.display = 'block';
        btnPopCover.addEventListener('click', (event) => {
          popCover.style.display = 'none';
        });
      }
      var loopedCount = 4;
      // 상단배너
      var swiperOptionTop = new Swiper('.gallery-top', {
        loop: true,
        effect: 'fade',
        loopedSlides: loopedCount, // looped slides should be the same
        spaceBetween: 10,
        on: {
          // tap: this.tapThumb(),
        },
      });
      // 상단배너 swiper-pagination
      var swiperOptionThumbs = new Swiper('.gallery-thumbs', {
        loop: true,
        loopedSlides: loopedCount, // looped slides should be the same
        spaceBetween: 10,
        centeredSlides: false,
        slidesPerView: 'auto',
        touchRatio: 0.5,
        slideToClickedSlide: true,
        on: {
          // slideChangeTransitionEnd: this.slideChange(), tap: this.tapThumb(),
        },
      });
      // 라인배너
      $('.line-banner').each(function (index) {
        var swiperOptionLine = new Swiper('#line-banner-swiper' + index, {
          spaceBetween: 10,
          loop: true,
          pagination: {
            el: '.swiper-pagination',
          },
        });
      });
    </script>
  </body>
</html>
